/* Custom Admin CSS */
.hidden {
  display: none;
}
.marginTopMedium {
  margin-top: 25px;
}
.marginBottomMedium {
  margin-bottom: 25px;
}

.circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
  vertical-align: top;
}

.circle canvas {
  vertical-align: top;
}

.circle strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 23px;
  color: #626262;
}
.circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}

/*
* START Main Donation Table
*/
#donationTableMain th {
  cursor: pointer;
  color: #00b9eb;
}
#donationTableMain th span {
  color: #555;
  display: none;
}
#donationTableMain th.headerSortDown span.headerSortDown, #donationTableMain th.headerSortUp span.headerSortUp {
  display: inline;
}

.editDonationSaveButton, #donationTableMain .close, #donationTableMain .editInput {
  display: none;
}
#donationTableMain .close, #donationTableMain .delete {
  color: #EA4E92;
}
/*
* END Main Donation Table
*/
